* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
/*======> navbar <==========*/

.logo {
  width: 5rem;
  margin-left: 6%;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: center;
}

.book_us_btn {
  font-size: 1rem;
  font-weight: 200;
  border: 2px solid;
  border-image: linear-gradient(to right, red, yellow) 1;
  animation: bookus 3s linear infinite alternate;
  transition: 200ms ease-in-out;
}

.book_us_btn:hover {
  transform: scale(1.1);
}
.nav_links a:link,
.nav_links a:visited {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.nav_links a {
  display: inline-block;
}
.nav_links a:hover {
  color: orange !important;
  transform: scale(1.03);
}

.book_us_btn:active {
  transform: scale(0.9);
}
.nav_links:active {
  transform: scale(0.9);
}
/* hi */
.nav_sec {
  height: 5rem;
  animation: navs 1s linear;
  animation-delay: 1.7s;
  position: fixed;
  display: flex;
  margin-top: -10rem;
  animation-fill-mode: forwards;
  justify-content: space-between;
  align-items: center;
  background: #0e0d11;
  border-radius: 100px;
  width: 95%;
  z-index: 1000;
}

.event_gif {
  background: url("assets/images/new\ gig.gif");
}

/* video top */
.video_bfr {
  position: absolute;
  background: rgba(8, 0, 30, 0.529);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  mix-blend-mode: multiply;
}

.video_sec {
  width: 100%;
}

/* ===> fonts <===== */
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.arima {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;

  font-style: normal;
}

/* top video data */
.main_title {
  padding-top: 0rem;
  animation: up 0.9s linear;
}

.main_pera {
  animation: fadeIn 1s linear;
  animation-delay: 1.7s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.knw_brdr {
  animation: knwmr 1s linear;
  animation-delay: 2.1s;

  animation-fill-mode: forwards;
}

.know_more_btn {
  animation: shows 1.5s linear;
  animation-delay: 2.7s;
  opacity: 0;
  animation-fill-mode: forwards;
  width: 100%;
  padding: 0.7rem;
  border-radius: 4rem;
  font-size: 1.1rem;
  background: transparent;
  background: rgba(0, 0, 0, 0.321);
  color: rgb(231, 231, 231);
  border: 2px solid rgb(231, 231, 231);
  font-weight: bold;
  transition: 300ms linear;
}
.know_more_btn:hover {
  background: rgb(255, 255, 255);
  color: orange;
  border: 2px solid orange;
}

.know_more_btn:active {
  transform: scale(0.9);
}

/* =====> about us <===== */

.abt_us {
  animation: shows 3s linear;

  animation-fill-mode: forwards;
}

.abt_us_brdr {
  animation: brdr 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.nav_sec {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.abt_us_details {
  animation: shows2 800ms linear;
  opacity: 0;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.abt_us_details img {
  animation: showimg 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  box-shadow: 10px 2vh 2vh 1vh rgba(0, 0, 0, 0.104);
}
.about_pera-parent {
  animation: shows2 800ms linear;
  opacity: 0;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

/* ====> Why Choose Us <========== */
.wcu_box {
  cursor: pointer;
  background: white !important;
  transition: 300ms ease-in-out !important;
}
.wcu_box:hover {
  box-shadow: rgba(0, 0, 0, 0.355) 0px 3px 8px !important;
  transform: scale(1.001);

  background: linear-gradient(-45deg, #ffb03b, #ff7e3b) !important;
}
.wcu_box:active {
  transform: scale(0.9);
}
.txt_white {
  transition: 300ms ease-in-out;
}
.wcu_box:hover .txt_white {
  color: white !important;
}
/* =====> events <========= */
#event-1,
#event-2 {
  animation: shows 1s ease-in-out;
}

#site_link:visited,
#site_link:link {
  text-decoration: none;
  color: orange;
}
/* Animations */
@keyframes up {
  from {
    padding-top: 15rem;
    opacity: 0;
  }
  to {
    padding-top: 0rem;
    opacity: 1;
  }
}
@keyframes showimg {
  from {
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.533);
  }
  to {
    box-shadow: 10px 2vh 2vh 1vh rgba(0, 0, 0, 0.104);
  }
}
@keyframes shows2 {
  from {
    opacity: 0;
    transform: scale(1.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bookus {
  from {
    border-image: linear-gradient(to left, red, yellow) 1;
  }
  to {
    border-image: linear-gradient(to right, red, yellow) 1;
  }
}

@keyframes navs {
  from {
    margin-top: -10rem;
  }
  to {
    margin-top: 1rem;
  }
}

@keyframes brdr {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
